.pk {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pk__name {
  margin: 10px 0;
  font-size: 1.1rem;
}

.pk__desc {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pk__attack__type {
  padding-top: 10px;
}

.pk__attack__name {
  text-align: center;
}

.pk__attack__group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.pk__attack__variant {
  font-size: 0.7rem;
}

.pk__attack__variant label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 10px;
  min-height: 70px;
  background-color: #e0e0e0;
  word-break: break-word;
}

.pk__attack__variant .name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.pk__attack__variant input:focus ~ label {
  outline: -webkit-focus-ring-color auto 1px;
}

.pk__attack__variant input:checked ~ label::after {
  content: '\2713';
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0;
  font-size: 25px;
  font-weight: bold;
  color: #2378f7;
}
.pk__footer {
  width: 100%;
  height: 60px;
  padding-top: 10px;
  z-index: 1;
}

.pk__select {
  width: inherit;
  height: 100%;
}

.pk__warning {
  display: none;
  position: absolute;
  top: -40px;
  background-color: #fff;
}

.pk__warning--open {
  display: block;
}

.loading {
  background-color: #e6e6e6;
  color: #e6e6e6;
  height: 21px;
  line-height: 21px;
}