body,
input,
button,
div {
  box-sizing: border-box;
}

input,
button {
  padding: 0;
  border: 0;
}

ul,
body,
fieldset {
  padding: 0;
  margin: 0;
}

.is-vHidden {
  display: block;
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}