.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #0000008a;
}

.card__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6d6d6d80;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
}

.card__close .ico::before,
.card__close .ico::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 12px;
  right: 2px;
  transform: rotate(45deg);
}

.card__close .ico::after {
  transform: rotate(-45deg);
}