.header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  height: 50px;
  width: 100%;
  background-color: #4e4e4e;
  align-items: center;
}

.header__logo {
  grid-column: 1/2;
}

.header__btn {
  grid-column: 3/4;
}