.header__btn {
  grid-column: 3/4;
  height: calc(100% - 10px);
  margin-right: var(--base-padding);
  width: 130px;
}

.modal__warr .modal__content,
.modal__start .modal__content {
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.modal__warr__text {
  width: 100%;
  text-align: center;
}

.modal__start .modal__content {
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
}

.modal__start__restart,
.modal__start__close {
  width: 30%;
  height: 50%;
  margin: 0 20px;
}